* {
    font-family: 'Montserrat';
}

*:hover {
    cursor:default;
}

body {
    align-items:center;
    background-color: #f7f7f7;
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin: 0;
    min-height:100vh;
    padding: 0;
}

h1 {
    letter-spacing: 2px;
}

#description {
    font-size:.85em;
    text-align:center;
    width:80%;
}

#container {
    align-items:center;
    display:flex;
    flex-direction:column;
    gap:20px;
    justify-content:center;
    margin-bottom:30px;
    margin-top:30px;
    width: min(100vmin, 400px);
}

#grid {
    display:grid;
    grid-template-columns: repeat(1fr, 10);
    grid-template-rows: repeat(1fr, 9);
    height: min(100vmin, 400px);
    width:100%;
}

#vertical-labels {
    display:flex;
    flex-direction:column;
    grid-column: 1 / 2;
    grid-row: 2 / 10;
}

#horizontal-labels {
    display:flex;
    grid-column: 2 / 10;
    grid-row: 10 / 11;
}

.label {
    align-items:center;
    display:flex;
    flex:1;
    font-size: .8em;
    justify-content:center;
}

#right-space {
    grid-column: 10 / 11;
    grid-row: 1 / 11;
}

#board {
    box-shadow:3px 3px 10px gray;
    display:flex;
    flex-wrap:wrap;
    grid-column: 2 / 10;
    grid-row: 2 / 10;
}

.space {
    align-items:center;
    display:flex;
    font-size:0.9em;
    height: 12.5%;
    justify-content:center;
    width: 12.5%;
}

.space:hover {
    cursor: pointer;
}